p, h1{
	border: 2px solid;
	color: white;
	display: block;
	padding: 10px;
	border-radius: 18px;
}

a{
	color: white;
	font-size: 25px;
}
img{
	height: 300px;
	width: 300px;
	border-radius: 1000px;
	background-color: black;
	box-shadow: 100px;
}

body{
	margin-left: 35%;
	background-color: black;
	display: inline-block;
	background-image:url(./image.jpg);
 	font-family: Arial, Helvetica;
 	letter-spacing: 0.02em;
  	font-weight: 400;
 	-webkit-font-smoothing: antialiased; 

}

span{
	display: inline;
}

button{
	color: green;
	width: 80%;
	height: 40px;
	border-radius: 18px;
}

